eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
#      defaultZone: http://localhost:8761/eureka/
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    preferIpAddress: true

spring:
  cloud:
    config:
      fail-fast: true   # Если не удалось получить конфиг – пробуем ещё раз
      retry:
        max-attempts: 10  # Количество попыток подключения
        initial-interval: 2000  # Интервал между попытками (2 сек)
        multiplier: 1.5  # Каждая следующая попытка будет дольше
        max-interval: 10000  # Максимальный интервал (10 сек)

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

    # tracing (Micrometer + Zipkin)
  tracing:
    sampling:
      probability: 1.0   # 100% запитів потрапляють у трейсинг

  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
